.servicios img {
      width: 250px; /* Ajusta el tamaño de la imagen */
      height: 250px; /* Ajusta el tamaño de la imagen */
      object-fit: cover; /* Asegura que la imagen mantenga su aspecto */
      margin-right: 20px; /* Espacio entre la imagen y el texto */
      border-radius: 8px; /* Bordes redondeados en la imagen */
    }